body {
    /* background-color: rgb(83, 83, 83); */
    background-color: rgb(29, 29, 29);
    color: rgb(236, 236, 236);
}
#container {
    /* background-color: rgb(29, 29, 29); */
    color: rgb(236, 236, 236);
}
#header {
    background-color: rgba(44,44,44,0.75);
    backdrop-filter: blur(12px);
    
}
.headerName:hover {
    background-color: rgb(70, 70, 70);
}

/* .login {background-color: rgb(70, 70, 70);} */
.login:hover {
    background-color: rgb(155, 155, 155);
}
#header a {
    color: rgb(236, 236, 236);
}
.content {
    background-color: rgb(44, 44, 44);
    box-shadow: 0 0 20px rgba(50, 50, 50, 0.2);
}
.themeSwitch {
    background-image: url("/img/sun.svg");
    filter: invert(100%);
    --webkit-filter: invert(0%);
}
#themeSwitchBase:hover {
    background-color: rgb(70, 70, 70);
}
#menuHamburger {
    filter: invert(100%);
    --webkit-filter: invert(0%);
}
#menuHamburgerBase:hover {
    background-color: rgb(70, 70, 70);
}
.loginSVG {
    filter: invert(100%);
    --webkit-filter: invert(0%);
}
.sidebarMenu {
    background-color: rgb(44, 44, 44);
}


a:link {
	color: rgb(236, 236, 236);
}

a:visited {
	color: rgb(236, 236, 236);
}
#header a:focus {
    background: none;
}
a:focus {
	background: #444;
}
#header a:hover {
    background: none;
}
a:hover {
	background: #444;
}
#header a:active {
    background: none;
}
a:active {
	background: #aaa;
	color: #fff;
}
.code {
	background-color: rgb(70,70,70);
	
}
details {
	background-color: rgb(60, 60, 60);
}
.card {
	background: linear-gradient(rgb(100,100,100),rgb(80,80,80));
	box-shadow: 0 0 20px rgba(128, 128, 128, 0.5);
}
