body {
    /* background-color: rgb(190, 190, 190); */
    background-color: #f4f4f4;
}
/* #container {} */
#header {
    background-color: rgba(214,214,214,0.75);
    backdrop-filter: blur(6px);
    --webkit-backdrop-filter: blur(6px);
}
.headerName:hover {
    background-color: rgb(207, 207, 207);
}
/* .login {background-color: #ccc;} */
.login:hover {
    background-color: rgb(155, 155, 155);
}
#header a {
    color: #333;
}
.content {
    background-color: white;
}
.themeSwitch {
    background: url("/img/moon.svg");
}
#themeSwitchBase:hover {
    background-color: rgb(207, 207, 207);
}
#menuHamburgerBase:hover {
    background-color: rgb(207, 207, 207);
}
/* #sidebar {} */
.sidebarMenu {
    background-color: rgb(204, 204, 204);
}
a {
	outline: none;
	text-decoration: none;
	padding: 2px 1px 0;
}

a:link {
	color: #0f0f0f;
}

a:visited {
	color: #0f0f0f;
}

a:focus {
	background: #aaa;
}

a:hover {
	background: #ccc;
}

a:active {
	background: #aaa;
	color: #fff;
}
.code {
	background-color: rgb(240,240,240);
	
}
details {
	background-color: rgb(230, 230, 230);
}
.card {
	background: linear-gradient(rgb(240,240,240),rgb(220,220,220));
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
