body {
    background-color: #fff;
}
#header {
    background-color: rgba(255,255,255,0.75);
    backdrop-filter: blur(6px);
    --webkit-backdrop-filter: blur(6px);
	box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
}
.headerName:hover {
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
}
.login:hover {
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
}
#header a {
    color: #333;
}
.content {
    background-color: white;
}
.themeSwitch {
    background: url("/img/moon.svg");
}
#themeSwitchBase:hover {
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
}
#menuHamburgerBase:hover {
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
}
.sidebarMenu {
    background-color: rgba(255,255,255,0.9);
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
}


a:link {
	color: #0f0f0f;
}

a:visited {
	color: #0f0f0f;
}
#header a:focus {
    background: none;
}
a:focus {
	background: #aaa;
}
#header a:hover {
    background: none;
}
a:hover {
	background: #ccc;
}
#header a:active {
    background: none;
}
a:active {
	background: #aaa;
	color: #fff;
}
.code {
	background-color: rgb(240,240,240);
	
}
details {
	background-color: rgb(230, 230, 230);
}
.card {
	background: linear-gradient(rgb(255,255,255),rgb(245,245,245));
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
