body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	color: #333;
	margin: 0;
	padding: 0;
	line-height: 1.6;
}
.container {
	max-width: 800px;
	margin: 50px auto;
	padding: 20px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	font-size: 1.1em;
}
		h1 {
		  color: #2c3e50;
		  text-align: center;
		  border-bottom: 2px solid #34495e;
		  padding-bottom: 5px; 
		}
		h2 {
		  color: #34495e;
		  border-bottom: 2px solid #34495e;
		  padding-bottom: 5px;
		}
		
		input[type="button"] {
			font-size:1.2em;
			color:#000000;
			font-family: Arial, sans-serif;
			border-radius:  0px;
			border:0;
			background: #e7e7e7;
			appearance: none;
			cursor: pointer;
			 padding: 3px 16px;
			
		}
		input[type="button"]:hover {
			background: #ccc;
		}

		input[type="button"]:focus {
			outline: none;
			box-shadow: 0 0 0 4px #aaa;
		}
		input[type="text"]{
			font-size:1.2em;
			color:#000000;
			font-family: Arial, sans-serif;
			border:0;
			background: #f0f0f0;
			appearance: none;
			 padding: 3px 10px;
		}
		label {
			font-size:1.3em;
			color:#000000;
		}
		select {
			font-size:1.2em;
			background: #f0f0f0;
			border-radius:  0px;
			border:0;
			padding: 4px 16px;
		}
		.footer {
		  text-align: center;
		  margin-top: 30px;
		  font-size: 0.9em;
		  color: #777;
		}
		.otvet {
			font-size: 1.5em;
			text-align: center;
			margin-top: 30px;
		}
		.maskbin {
			text-align: center;
			margin-top: 10px;
			font-size: 1.5em;
		}
		.ipbin {
			text-align: center;
			margin-top: 10px;
			font-size: 1.5em;
		}
a {
	margin-top: 100px;
	outline: none;
	text-decoration: none;
	padding: 2px 1px 0;
}

a:link {
	color: #0f0f0f;
}

a:visited {
	color: #0f0f0f;
}

a:focus {
	border-bottom: 1px solid;
	background: #aaa;
}

a:hover {
	border-bottom: 1px solid;
	background: #ccc;
}

a:active {
	background: #aaa;
	color: #fff;
}